name: Update Activity

on:
  schedule:
    - cron: "0 6 * * *"
  workflow_dispatch:

jobs:
  update-activity:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v5
      - uses: jamesgeorge007/github-activity-readme@76c2edb75b4730534560edcd520b020c74203c22 # v0.4.5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
